<img src="images/inmas.png" width=130x align='right' />

# Exercise 19 - Pandas

### Prerequisite
Notebook 19

----

### Housekeeping

In [ ]:
import pandas as pd

### 1.
Using the same file *data/cereals.csv* as in the associated Notebook :

#### 1.1
Replace the values in the `mfr` column with the following values:

* `'A'` --> `'American Home Products'`
* `'G'` --> `'General Mills'`
* `'N'` --> `'Nabisco'`
* `'P'` --> `'Post'`
* `'Q'` --> `'Quaker'`
* `'R'` --> `'Ralston'`
* `'U'` --> `'Unknown'`

In [ ]:
file = "data/cereals.csv" 
cerealsDf = pd.read_csv(file, sep=';', skiprows=[1])
cerealsDf = cerealsDf.fillna({'mfr': 'U'})
cerealsDf.dropna(inplace=True)

#### 1.2

Update 'fat' to 'fat (g)' and 'potass' to 'potass (mg)'.

#### 1.3

Create a new dataframe containing only entries from Kelloggs manufacturer.

### 2.*

We've barely scratched the surface of Pandas' functionality.

Here are a few additional common functions you can explore if you have the time:
* [`pd.DataFrame.apply()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)
* [`pd.DataFrame.corrwith()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corrwith.html)
* [`pd.DataFrame.query()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)
* [`pd.DataFrame.sample()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html)

Click on the entry to read the reference. Try a few of these methods if time allows.

### 3.

Can you make a separate data frame with only the highest rated cereal from each mfr group? (Hint: You would want to use ```pd.DataFrame.groupby()```.)

### 4.*

Using results from the previous exercise, can you calculate the absolute difference between the rating of each cereal and that of the highest rated cereal from each mfr group? Call the column with the absolute difference, 'diff'. (Hint: You would want to use ```pd.DataFrame.merge()```.)

### 5.

Make a list out of CAPITALIZED column names for the cereals dataframe. (Hint: Use ```df.columns```.)